<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="//www.gstatic.com/authtoolkit/js/gitkit.js"></script>
    <link type="text/css" rel="stylesheet" href="//www.gstatic.com/authtoolkit/css/gitkit.css" />
    <script type="text/javascript">
        var config = {
                "widgetUrl": "http://localhost:8080/callback",
                "signInSuccessUrl": "/",
                "signOutUrl": "/",
                "oobActionUrl": "/",
                "apiKey": "AIzaSyBEyx4HFoocpRQc-FHf4zRD_BSMT9go5X8",
                "siteName": "this site",
                "signInOptions": ["password","google"]
            };
        // The HTTP POST body should be escaped by the server to prevent XSS
        window.google.identitytoolkit.start(
            '#gitkitWidgetDiv', // accepts any CSS selector
            config,
            'JAVASCRIPT_ESCAPED_POST_BODY');
    </script>
</head>
<body>
    <!-- Include the sign in page widget with the matching 'gitkitWidgetDiv' id -->
    <div id="gitkitWidgetDiv"></div>
    <!-- End identity toolkit widget -->
</body>
</html>
